<body ng-controller="MainCtrl">
    <p>Hello {{name}}!</p>


    <a ng-href='#here' ng-click='go("test")'>click me</a>
    <a ng-click='getItem()' href=''>Get From Service {{msg}}</a>
    <div style='height:1000px'>

        <a id='here'></a>

    </div>
    <h1>here</h1>
</body>
<script>
    var app = angular.module('plunker', []);

    app.controller('MainCtrl', function ($scope, sharedProperties) {
        $scope.name = 'World';

        $scope.go = function (item) {
            sharedProperties.setListName(item);


        }

        $scope.getItem = function () {

            $scope.msg = sharedProperties.getListName();
        }
    });

    app.service('sharedProperties', function () {
        var list_name = '';

        return {

            getListName: function () {
                return list_name;
            },
            setListName: function (name) {
                list_name = name;
            }
        };


    });
</script>