@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>
        FSExplorer
    </title>
    @Styles.Render("~/Content/css")
</head>
<body class="container">
    <div ng-view></div>
    @Scripts.Render("~/bundles/app")
</body>
</html>